<% layout('boilerplate') %>
<div class="body-content outer-top-xs">
 <div class="container">
   <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
		 <% include ./sidebar.ejs %>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
		  <% include ./homebody.ejs %>
		</div>
   </div>	
  </div>	
</div>